<!DOCTYPE html>
<html ng-app="store">
  <head>
    <title>ACME</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="products.js"></script>
    <style>
      .ng-invalid.ng-dirty{
        border-color: #FA787E;
      }

      .ng-valid.ng-dirty{
        border-color: #78FA89;
      }
    </style>
  </head>
  <body ng-controller="StoreController as store">
    <!--  Products Container  -->
    <div class="container">
      <div class="list-group">
        <center>
          <h1> Flatlander Crafted Gems <br>
            <em>- an Angular store -</em>
          </h1>
        </center>
        <!--  Product Container  -->
        <div class="list-group-item" ng-repeat="product in store.products">
          <h3 product-title></h3>

          <!-- Image Gallery  -->
          <product-gallery></product-gallery>
          <product-panels></product-panels>
        </div>
      </div>
    </div>
  </body>
</html>
