<div ng-show="product.images.length" class="gallery">
  <img style="width: 300px;" class="img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.current]}}" />
  <ul class=" clearfix list-inline thumbs">
    <li ng-repeat="image in product.images track by $index" ng-click="gallery.setCurrent($index)" style="width: 100px;height: 100px;" class="small-image pull-left thumbnail"> <img ng-src="{{image}}" /> </li>
  </ul>
</div>
