<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active: panel.isSelected(1) }">
      <a ng-click="panel.selectTab(1)" href=>Description</a>
    </li>

    <li ng-class="{ active: panel.isSelected(2) }">
      <a ng-click="panel.selectTab(2)" href=>Specifications</a>
    </li>

    <li ng-class="{ active: panel.isSelected(3) }">
      <a ng-click="panel.selectTab(3)" href=>Reviews</a>
    </li>
  </ul>
  <div class="panel" ng-show="panel.isSelected(1)">
    <h4>Description</h4>
    <p>{{product.description}}</p>
  </div>

  <div product-specs ng-show="panel.isSelected(2)"></div>
  <div product-reviews ng-show="panel.isSelected(3)"></div>
</section>
